<ul class="subscription" data-subscription="rss">
  {% if FEED_ATOM %}
  <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" rel="subscribe-atom">Atom</a></li>
  {% endif %}
  {% if FEED_RSS %}
  <li><a href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" rel="subscribe-rss">RSS</a></li>
  {% endif %}
</ul>


{% if SEARCH_BOX %}
<form action="{{ SITESEARCH|default('http://google.com/search') }}" method="get">
  <fieldset role="search">
    <input type="hidden" name="sitesearch" value="{{SITEURL|replace('https://','')|replace('http://','') }}" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
{% endif %}

{% if TIPUE_SEARCH %}
<form class="navbar-form navbar-right" role="search" action="{{ SITEURL }}/search.html" onsubmit="return validateForm(this.elements['q'].value);">
	<div class="form-group">
		<div class="input-group">
		<input type="text" name="q" id="tipue_search_input" class="form-control search-query" placeholder="Search" required />
		<span class="input-group-btn">
			<button class="btn btn-default" type="submit"><i class="fa
				fa-search fa-fw"></i></button>
		</span>
		</div>
	</div>
</form>
{% endif %}

<ul class="main-navigation">
  {% for title, link in MENUITEMS %}
    <li><a href="{{ link }}">{{ title }}</a></li>
  {% endfor %}
  {% if DISPLAY_PAGES_ON_MENU %}
    {% for page in PAGES %}
      <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
    {% if DISPLAY_CATEGORIES_ON_MENU %}
    {% for cat, null in categories %}
    <li {% if cat == category %}class="active"{% endif %}>
    <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat | capitalize }}</a>
    </li>
    {% endfor %}
    {% endif %}
  {% endif %}
</ul>
